/* Existing styles */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.heading {
    text-align: center;
    width: 75%; /* Ensure the container takes full width */
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.heading-text h1 {
    font-size: 3em; /* Adjust the font size as needed */
}

.heading-text p {
    font-size: 1em; /* Adjust the font size as needed */
}

.heading a{
    color: inherit;
    margin: 10px;
    text-decoration: none;
}