html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383737;
}

.heading {
    text-align: center;
}

.heading-text h1 {
    font-size: 4em; /* This is just an example size; adjust as needed */
}

.heading-text {
    width: 100%;
    max-width: 50%; /* You can set a max-width to prevent the text block from getting too wide on larger screens */
    color: #fff;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

.heading-text i {
    margin: 10px;
    margin-top: 0;
}

.heading-text a {
    color: inherit;
}